<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>{{ activeVehicleDetails.name }}</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-10">
            Manufacturer: {{ activeVehicleDetails.manufacturer }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Model: {{ activeVehicleDetails.model }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Cost in credits: {{ activeVehicleDetails.cost_in_credits }} 
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Length: {{ activeVehicleDetails.length }} m
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Max atmosphering speed: {{ activeVehicleDetails.max_atmosphering_speed }} km/h
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Crew: {{ activeVehicleDetails.crew }} (skeleton-full)
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Passengers: {{ activeVehicleDetails.passengers }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Cargo capacity: {{ activeVehicleDetails.cargo_capacity }} kg
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Consumables: {{ activeVehicleDetails.consumables }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Vehicle class: {{ activeVehicleDetails.vehicle_class }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            No. of films: {{ activeVehicleDetails.films.length }} 
        </div>
    </div>

</div>
