<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>{{ activePersonDetails.name }}</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-10">
            Height: {{ activePersonDetails.height }} cm
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Mass: {{ activePersonDetails.mass }} kg
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Hair color: {{ activePersonDetails.hair_color }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Skin color: {{ activePersonDetails.skin_color }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Eye color: {{ activePersonDetails.eye_color }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Birth year: {{ activePersonDetails.birth_year }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Gender: {{ activePersonDetails.gender }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Homeworld: {{ activePersonDetails.homeworld }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            No. of films: {{ activePersonDetails.films.length }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            No. of vehicles: {{ activePersonDetails.vehicles.length }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            No. of starships: {{ activePersonDetails.starships.length }}
        </div>
    </div>
</div>
