<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>{{ activeFilmDetails.title }}</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-10">
            <span class="text-left">{{ activeFilmDetails.opening_crawl }}</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-10">
            Director: {{ activeFilmDetails.director }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Producers: {{ activeFilmDetails.producer }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Release date: {{ activeFilmDetails.release_date }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Episode in series: {{ activeFilmDetails.episode_id }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            List of characters: {{ activeFilmDetails.characters[0] }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            List of planets: {{ activeFilmDetails.planets[0] }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            List of species: {{ activeFilmDetails.species[0] }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            List of starships: {{ activeFilmDetails.starships[0] }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            List of vehicles: {{ activeFilmDetails.vehicles[0] }}
        </div>
    </div>
</div>
