<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>{{ activeStarshipDetails.name }}</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-10">
            Manufacturer: {{ activeStarshipDetails.manufacturer }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Model: {{ activeStarshipDetails.model }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Cost in credits: {{ activeStarshipDetails.cost_in_credits }} 
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Length: {{ activeStarshipDetails.length }} m
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Max atmosphering speed: {{ activeStarshipDetails.max_atmosphering_speed }} km/h
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Crew: {{ activeStarshipDetails.crew }} (skeleton-full)
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Passengers: {{ activeStarshipDetails.passengers }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Cargo capacity: {{ activeStarshipDetails.cargo_capacity }} kg
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Consumables: {{ activeStarshipDetails.consumables }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Hyperdrive rating: {{ activeStarshipDetails.hyperdrive_rating }} (lower is faster [fastest is Millenium Falcon at 0.5])
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            MGLT: {{ activeStarshipDetails.MGLT }} (sublight speed unit in space "Megalight")
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Starship class: {{ activeStarshipDetails.starship_class }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            No. of films: {{ activeStarshipDetails.films.length }} 
        </div>
    </div>

</div>
