<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>{{ activePlanetDetails.name }}</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-10">
            Rotation period: {{ activePlanetDetails.rotation_period }} days
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Orbital period: {{ activePlanetDetails.orbital_period }} days
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Diameter: {{ activePlanetDetails.diameter }} km
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Climate: {{ activePlanetDetails.climate }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Gravity: {{ activePlanetDetails.gravity }} * (9.80665 m/s2)
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Terrain: {{ activePlanetDetails.terrain }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Surface water: {{ activePlanetDetails.surface_water }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Population: {{ activePlanetDetails.population }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            No. of residents: {{ activePlanetDetails.residents.length }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            No. of films: {{ activePlanetDetails.films.length }}
        </div>
    </div>
</div>
