<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>{{ activeSpeciesDetails.name }}</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-10">
            Classification: {{ activeSpeciesDetails.classification }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Designation: {{ activeSpeciesDetails.designation }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Average height: {{ activeSpeciesDetails.average_height }} cm
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Skin colors: {{ activeSpeciesDetails.skin_colors }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Hair colors: {{ activeSpeciesDetails.hair_colors }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Eye colors: {{ activeSpeciesDetails.eye_colors }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Average lifespan: {{ activeSpeciesDetails.average_lifespan }} years
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Homeworld: {{ activeSpeciesDetails.homeworld }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            No. of people: {{ activeSpeciesDetails.people.length }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            No. of films: {{ activeSpeciesDetails.films.length }}
        </div>
    </div>
</div>
